@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.room-box-question-button a, .room-box-question-button button, .room-box-question span, .reservation-box-text button, .aboutus-box-info button, .main-info button, .head-three button, .head-two ul a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.testimoni-box h3, .room-box-question h3, .reservation-box-text h3, .benefit-box-food-info h3, .benefit-box-activities-info h3, .aboutus-box-info h3 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #192252;
}

.room-box-info-txt2 span, .room-box-info-txt1, .reservation-box-images h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #192252;
}

.wrapper {
  width: 1440px;
  height: 5504px;
  border: solid black 1px;
  margin: 0 auto;
}

.container {
  margin: 0;
  width: 0 80%;
}

.header {
  width: 1440px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head > div {
  flex: 1;
}

.head {
  width: 1200px;
  height: 48px;
  display: flex;
  margin: 37px 120;
  align-items: center;
}
.head-one {
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #192252;
}
.head-two ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.head-two ul a {
  text-decoration: none;
  color: #192252;
}
.head-three {
  display: flex;
  justify-content: end;
}
.head-three button {
  width: 121px;
  height: 49px;
  background-color: #0E1734;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.section-one {
  width: 1440px;
  height: 845px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 1199px;
  height: 685px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-info {
  width: 587px;
  height: 332px;
  display: flex;
  flex-direction: column;
}
.main-info h3 {
  width: 587px;
  height: 144px;
  font-size: 48px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #192252;
}
.main-info p {
  width: 585px;
  height: 81px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
  margin-top: 24px;
}
.main-info button {
  width: 156px;
  height: 51px;
  background-color: #0E1734;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 32px;
}
.main-info-img2 {
  margin-top: 81px;
}
.main-info-img1 {
  margin-bottom: 81px;
}
.main-info-img3 {
  margin-bottom: 81px;
}

.aboutus {
  width: 1440px;
  height: 736px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutus-box {
  width: 1200px;
  height: 576px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutus-box-info {
  width: 690px;
  height: 366px;
}
.aboutus-box-info h3 {
  width: 690px;
  height: 108px;
  margin-bottom: 24px;
}
.aboutus-box-info p {
  width: 554px;
  height: 81px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
}
.aboutus-box-info button {
  width: 153px;
  height: 51px;
  background-color: #0E1734;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 16px 32px;
  margin-top: 32px;
}

.benefit {
  width: 1440px;
  height: 960px;
  display: flex;
  padding-left: 120px;
  align-items: center;
}
.benefit-box {
  width: 1094px;
  height: 800px;
  display: flex;
  flex-direction: column;
}
.benefit-box-activities {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.benefit-box-activities-info {
  width: 584px;
  height: 159px;
}
.benefit-box-activities-info h3 {
  width: 302px;
  height: 54px;
  margin-bottom: 24px;
}
.benefit-box-activities-info p {
  width: 584px;
  height: 81px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
}
.benefit-box-food {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.benefit-box-food-info {
  width: 584px;
  height: 159px;
}
.benefit-box-food-info h3 {
  width: 384px;
  height: 54px;
  margin-bottom: 24px;
}
.benefit-box-food-info p {
  width: 584px;
  height: 81px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
}

.reservation {
  width: 1440px;
  height: 1176px;
  display: flex;
  justify-content: center;
}
.reservation-box {
  width: 1199px;
  height: 1006px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}
.reservation-box-text {
  height: 383px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reservation-box-text p {
  width: 588px;
  height: 54px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
  margin-top: 24px;
}
.reservation-box-text button {
  width: 165px;
  height: 51px;
  background-color: #0E1734;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 16px 32px;
  margin-top: 32px;
}
.reservation-box-images {
  display: flex;
  justify-content: space-between;
}
.reservation-box-images-info {
  display: flex;
  flex-direction: column;
}
.reservation-box-images-info img {
  width: 384px;
  height: 489px;
}
.reservation-box-images a {
  text-decoration: none;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
  margin-top: 32px;
}
.reservation-box-images a i {
  margin-left: 12px;
}
.reservation-box-images p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
  margin-top: 16px;
}
.reservation-box-images h3 {
  margin-top: 32px;
}

.room {
  width: 1440px;
  height: 596px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.room-box {
  width: 1202px;
  height: 436px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room-box-question {
  width: 410px;
  height: 278px;
}
.room-box-question span {
  color: #424F7B;
}
.room-box-question h3 {
  height: 54px;
  width: 407px;
  font-size: 35px;
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.room-box-question p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
  margin-top: 24px;
}
.room-box-question-button {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 32px;
}
.room-box-question-button button {
  width: 148px;
  height: 51px;
  background-color: #0E1734;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 16px 32px;
}
.room-box-question-button a {
  text-decoration: none;
  color: #0E1734;
}
.room-box-info {
  width: 588px;
  height: 436px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.room-box-info-txt1 {
  height: 100px;
  color: #424F7B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1960784314);
}
.room-box-info-txt1-icon {
  background-color: #FFECE2;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 2px;
}
.room-box-info-txt2 {
  height: 188px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1960784314);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 0 36px;
}
.room-box-info-txt2 span {
  color: #424F7B;
}
.room-box-info-txt2 p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
}

.testimoni {
  width: 1440px;
  height: 627px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimoni-box {
  width: 793.06px;
  height: 467px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimoni-box h3 {
  margin-bottom: 62px;
}
.testimoni-box p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #848FAC;
  margin: 44px 0 40px 0;
}
.testimoni-box span {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #192252;
  margin-bottom: 24px;
}

.details-box > div {
  flex: 1;
}

.details {
  width: 1440px;
  height: 444px;
  background-color: #0B265A;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-box {
  width: 1136px;
  height: 204px;
  display: flex;
}
.details-box-cootels {
  display: flex;
  flex-direction: column;
}
.details-box-cootels h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  margin-bottom: 13px;
}
.details-box-cootels p {
  width: 186px;
  margin-bottom: 36px;
  color: #D9DBDE;
  height: 84px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.details-box-cootels-communications {
  display: flex;
  gap: 24px;
}
.details-box-cootels-communications button {
  width: 32px;
  height: 32px;
  background-color: #0B265A;
  border: none;
}
.details-box-info {
  display: flex;
  justify-content: space-between;
}
.details-box-info a {
  text-decoration: none;
  color: #D9DBDE;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.details-box-info ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
}
.details-box-info-boxes {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.details-box-info-boxes h3 {
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #fff;
}/*# sourceMappingURL=style.css.map */